In [2]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in e:\day4\anaconda\lib\site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector
import pandas as pd

In [4]:
sql='''select * from patients'''

In [5]:
conn = mysql.connector.connect(user='root', password='kush226165@', host='127.0.0.1',database='sys')

In [6]:
mycursor=conn.cursor()

In [7]:
mycursor.execute("show databases")

In [8]:
for i in mycursor:
    print(i)

('information_schema',)
('mysql',)
('patients',)
('performance_schema',)
('sys',)
('vaccination',)

In [9]:
mycursor.execute("use vaccination")

In [10]:
for i in mycursor:
    print(i)

In [11]:
df=pd.read_sql(sql,conn)

In [12]:
df.head()

,cust_ID,Name,open_date,consult_date,vac_ID,DR_Name,state,country,DOB,Activate
0,1,Alex,2015-01-15,2015-01-21,MVX,Paul,SA,USA,1998-02-04,Yes
1,2,John,2015-09-06,2015-09-11,MCV,Paul,CA,USA,1999-06-06,Yes
2,3,Sumit,2016-11-23,2016-11-29,MVX,Reddy,KA,IND,1998-08-16,Yes
3,4,Joma,2017-08-09,2017-08-15,MVX,Chuck,VIC,AU,1997-01-01,No
4,5,Mathew,2014-12-17,2014-12-25,MCV,Bill,Was,PHIL,1998-02-23,Yes

In [17]:
def show_data(country):
    data = df.loc[df['country'] == country]
    print(data)

In [20]:
def get_file(country):
    data = df.loc[df['country'] == country]
    file_name = str(country)
    data.to_csv('C:/kushal/outputcsv/' + country + ".csv")  
    print("File has been created to the specified path")

In [24]:
show_data("UK")
get_file("UK")

   cust_ID   Name   open_date consult_date vac_ID DR_Name state country  \
9       10  Jacob  2018-07-25   2018-07-30    MXV  Andrew    LI      UK

          DOB Activate
9  1999-07-07       No
File has been created to the specified path